@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form action="/create/user" method="post">
        <label for="name">Please give your name:</label>
        <input name="name" type="text" class="form-control">
        <button type="submit"> Submit</button>
    </form>
</div>
